body {
  margin: 0;
  padding: 0;
  color: rgb(250, 250, 250);
  background-color: rgb(34, 34, 34);
}

h1 {
  color: #ececec;
  text-align: center;
}

div {
  text-align: center;
  font-size: large;
}

.container-fluid {
  text-align: center;
}

.navbar .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the search bar */
  width: 100%; /* Ensure the form takes the full width of the container */
  max-width: 400px; /* Adjust the max-width as needed */
}

.form-control {
  width: 70%; /* Adjust the width of the input field as needed */
  margin-right: 5px; /* Add some spacing between input field and button */
}

